==
<div class="row mt100" id="coaching">
         <div class="col-md-12">
             <h1>Coaching</h1>
            <p>We challenge your business model!</p>
            
            <h3 class="ml40">Lean Innovation</h3>
            <p class="ml80">How to push your idea to find a problem worth solving</p>
            <p class="ml80">Do it the lean way </p>
            
            <h3 class="ml40">Design Thinking</h3>
            <p class="ml80">Think disruptive and outside the box </p>
           
            <h3 class="ml40">Agile Teams</h3>   
         </div>
    
         
</div>